/* navbar e footer */

body{
    background-color: #D8E3E7 !important;
    font-family: Arial, Helvetica, sans-serif !important;
    margin: 0px;
}

.navbar {
    background-color: #126E82;
    color: rgb(236, 236, 236);
}

footer{
    background-color: #126E82;
    width: 100%;
    color: white;
    margin: 0px auto;
    margin-top: 2%;
}

/* inputs e btns pag de login */

.inputLogin {
    color: black;
    font-weight: bold;
    border: 2px solid white;
    width: 300px !important; 
    text-align: center;
    border-radius: 4px;
    outline: none;
    cursor: pointer;
}

#btnLogin {
    background-color: #126E82 ;
    border-radius: 4px !important;
    border: none;
    color: white;
    width: 100px;
    font-weight: bold;
}

#btnLogin:hover {
    transition: 3s;
}