/* css das pags de registros e listagem, altera a navbar, input de numero e o texto de "cadastre blablabla"
>>>> p kailany: eu sei q vc ja fez uma pro navbar, mas se eu usasse aquela la ia alterar as minhas pags e
se botasse na sua ia alterar a home*/

.navbar {
    background-color: #495371;
    height: 110px;
    color: rgb(236, 236, 236);
    padding: 100px;
} 

h3{
    padding-bottom: 25px;
    text-align: center;
    color: #495371 !important;
    margin-top: 2% !important;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
}

.lixoColeta{
    padding-left: 5%;
    margin: 2% 0 0 3em;
}

.lixoEstoque{
    margin-left: 8pc;
}

.btnColeta{
    margin-right: 25%;
}

/* responsividade navbar */

@media screen and (max-width: 997px) and (min-width: 683px){
    .btn2{
        margin-bottom: 6px;
        display: block !important;
    }

    .navbar{
        height: 200px;
    }
}

@media screen and (max-width: 683px) {
    .btn2{
        margin-bottom: 6px;
        width: 100%;
        margin-left: 30%;
        display: block !important;
    }

    .navbar{
        height: 250px;
        padding: 50px;
    }

    .logo{
        margin-bottom: 5%;
        margin-left: 15%;
    }

    .h1, h1{
        font-weight: 500;
        line-height: 1.2;
        font-size: calc(1.375rem + 1.5vw) !important;
    }

    h3{
        margin-top: 5% !important;
    }
}

/* responsividade navbar admin */

@media screen and (max-width: 770px) and (min-width: 575px){
    .btn1{
        margin-bottom: 6px;
        display: block !important;
    }

    .navbar1{
        height: 140px;
    }

    h3{
        margin-top: 5% !important;
    }

    .btnNav{
        margin-top: 50px;
    }
}

@media screen and (max-width: 575px) {
    .btn1{
        margin-bottom: 6px;
        width: 100%;
        margin-left: 45%;
        display: block !important;
    }

    .navbar1{
        height: 250px;
        padding: 50px;
    }

    .logo{
        margin-bottom: 5%;
        margin-left: 15%;
    }

    .h1, h1{
        font-weight: 500;
        line-height: 1.2;
        font-size: calc(1.375rem + 1.5vw) !important;
    }

    h3{
        margin-top: 5% !important;
    }

    .btnNav{
        margin-top: 20px;
    }
}

/* responsividade pag de registro de pontos de coleta */

@media screen and (max-width: 694px){
    .containerColeta{
        display: block !important;
        padding-left: 0 !important;
    }

    .endereçoColeta{
        margin: auto auto 10% auto;
    }

    .lixoColeta{
        margin: 15% 0 0 10%;
    }

    .btnColeta{
        margin-left: 10%;
    }
}

/* responsividade pag de registro de estoque de lixo */

@media screen and (max-width: 682px){
    .containerEstoque{
        display: block !important;
        padding-left: 0 !important;
    }

    .endereçoEstoque{
        margin: auto auto 10% auto;
    }

    .lixoEstoque{
        margin: auto auto 4% auto;
    }
}