body{
    background-color: #4A8D70 !important;
    margin: 0px;
}

img{
    margin: 90px;
}
 /*
 amg olha so
 mts coisas aqui do css funcionam tipo assim
 por ex na class da img la no html
 pode ser colocado displayb block simplesmente botando d-block
 d=display
 entendeu?fica menor e so ocupa espaço no html 
 
 ai tipo se vc for usar padd
ta vo botar nao tira*/
 
.navbar {
    background-color: white;
    height: 110px;
    color: #4A8D70;
    padding: 100px;
}

.col-4{
    color: white;
}

footer{
    background-color: #206648;
    width: 100%;
    color: white;
    padding: 30px;
    margin: 0px auto;
    margin-top: 2%;
}