body{
    background-color: #506484 !important;
    margin: 0px;
}

img{
    margin-top: 20px;
    width: 100%;
}

.navbar {
    background-color: white;
    height: 100px;
    color: #506484;
    padding: 100px;
}