body{
    background-color: #D8E3E7 !important;
    margin: 0px;
}

/* ::-webkit-scrollbar { 
    display: none; 
} */

.navbar {
    background-color: #126E82;
    color: rgb(236, 236, 236);
}

footer{
    background-color: #126E82;
    width: 100%;
    color: white;
    margin: 0px auto;
    margin-top: 2%;
}

#btnStart:hover {
    color: black !important;
    background-color: white !important;
    transition: 0.5s;
}