html, body {
  height:100%;
  background-color: #4A8D70 !important;
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
}

.navbar {
  background-color: white;
  height: 110px;
  color: #4A8D70;
  padding: 100px;
}

input {
  color: black;
  font-weight: bold;
  border: 2px solid white;
  outline: none;
}

.loginBox {
  margin-top: 3pc;
  border: 2px solid #0d472e;
  background-color: white;
  width: 35%;
  text-align: center;
}

/* -esse btn modifica o btn da nav bar tb. eu tirei ele pq ele nao
tava modificando na do site aparentemente, mas vc q sabe
.btn {
  position: relative;
  display: inline-block;
  width: 277px;
  height: 50px;
  font-size: 1em;
  font-weight: bold;
  line-height: 600px;
  text-align: center;
  background-color: transparent;
  cursor: pointer;
  font-family: 'Roboto', sans-serif;
  font-weight:900;
  font-size:17px;
  letter-spacing: 0.045em;
}
