body{
    background-color: rgb(236, 236, 236) !important;
    margin: 0px;
}
 
.navbar {
    background-color: #4A8D70;
    height: 110px;
    color: rgb(236, 236, 236);
    padding: 100px;
}

h3{
    padding-top: 40px;
    text-align: center;
    color: #4A8D70;
}

#map {
    height: 100%;
  }