body{
    background-color: #D8E3E7 !important;
    margin: 0px;
}
 
.navbar {
    background-color: #126E82;
    height: 110px;
    color: rgb(236, 236, 236);
    padding: 100px;
}

h3{
    padding-bottom: 25px;
    text-align: center;
    color: #126E82;
    margin-top: 10px !important;
    
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
}
