body{
    background-color: #495371 !important;
    margin: 0px;
}

::-webkit-scrollbar { 
    display: none; 
}
 
.navbar {
    background-color: #495371;
    height: 110px;
    color: #E5E5E5;
}

.col-7{
    color: white;
    text-align: center;
    margin-left: 270px;
}

footer{
    background-color: #495371;
    width: 100%;
    color: #E5E5E5;
    padding: 30px;
    margin: 0px auto;
    margin-top: 7%;
}