body{
    background-color: #495371 !important;
    margin: 0px;
}
 
.navbar {
    background-color: #495371;
    height: 110px;
    color: #E5E5E5;
}

.text{
    color: white;
    text-align: center;
    width: 52%;
}

footer{
    background-color: #495371;
    width: 100%;
    color: #E5E5E5;
    padding: 30px;
    margin: 0px auto;
    margin-top: 7%;
}

@media screen and (max-width: 550px) {
    .navbar{
        margin-bottom: 10%;
    }

    .text{
        width: 80%;
    }
}