body{
    background-color: #495A90 !important;
    margin: 0px;
}

::-webkit-scrollbar { 
    display: none; 
}
 
.navbar {
    background-color: #495A90;
    height: 110px;
    color: #E5E5E5;
    padding: 100px;
}

.col-7{
    color: white;
    text-align: center;
    margin-left: 270px;
}

footer{

    background-color: #495A90;
    width: 100%;
    color: #E5E5E5;
    padding: 30px;
    margin: 0px auto;
    margin-top: 7%;
}

h6{
color:#495A90 ;
}


#col-2{
    color:#495A90 
}