body{
    background-color: #4A8D70 !important;
    margin: 0px;
}
 
.navbar {
    background-color: white;
    height: 110px;
    color: #4A8D70;
    padding: 100px;
}

footer{
    background-color: #206648;
    width: 100%;
    color: white;
    padding: 30px;
    margin: 0px auto;
    margin-top: 2%;
}